<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>课题申报</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>


<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-form-item">
                <label for="taskName" class="layui-form-label">
                    课题名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="taskName" name="taskName" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="taskType" class="layui-form-label">
                    课题方向
                </label>
                <div class="layui-input-inline">
                    <select id="taskType" name="taskType" lay-filter="taskType" lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>


            <div class="layui-form-item layui-form-text">
                <label for="test" class="layui-form-label">小组成员</label>

                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form" id="test" lay-filter="test"></table>

                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" type="button" onclick="a2()">添加成员</button>
                        </div>
                    </script>

                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>

                </div>


            </div>

            <div class="layui-form-item layui-form-text">
                <label for="details" class="layui-form-label">描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" id="details" name="details" class="layui-textarea" lay-verify="required"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" type="button" lay-filter="add" lay-submit="">增加</button>
            </div>
        </form>
    </div>
</div>






<script src="/static/js/taskitem-add.js"></script>

<script src="/static/js/member-add.js"></script>



</body>

</html>

