<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ght.graduationsys.dao.TeacherBasicInfoMapper">


    <select id="getTeacherBasicInfoById" resultType="com.ght.graduationsys.entity.TeacherBasicInfo">
        select t.id id,t.name name,m.name major,c.name college
         from teacher t,major m,college c
        where t.id=#{tid} and t.mid=m.id and m.cid=c.id
    </select>


</mapper>