<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ght.graduationsys.dao.WorkFileMapper">

    <insert id="addWorkFile" parameterType="com.ght.graduationsys.entity.WorkFile">
        insert into workfile(id,`name`,path,majorid,createtime)
        values (#{id},#{name},#{path},#{majorid},#{createtime})
    </insert>

    <select id="getWorkFilesByMajorId" resultType="com.ght.graduationsys.entity.WorkFile">
        select * from workfile where majorid=#{majorid} order by createtime desc
    </select>

</mapper>